@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.register-page{
 /* background: url('/assets/images/bg-login.png') #000 left center no-repeat !important;
  background-size: contain !important;*/
  position: relative;
}
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite ease-in-out;
  border-radius: 4px;
}

.skeleton-title {
  height: 24px;
  width: 10%;
}

.skeleton-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  height: 200px;
}

.skeleton-img {
  height: 80px;
  border-radius: 6px;
}

.skeleton-line {
  height: 10px;
  margin-bottom: 8px;
}

.loading-text {
  text-align: center;
  font-size: 17px;
  color: #888;
  margin-bottom: 10px;
}

.pagination-skeleton {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.skeleton-btn {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background: linear-gradient(90deg, #fff 25%, #e2e2e2 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.3s ease-in-out infinite;
}

.loading-animated {
  text-align: center;
  font-size: 25px;
  color: #888;
  font-family: sans-serif;
}

@keyframes dots {
  0%   { content: ""; }
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}

.dots::after {
  content: "";
  animation: dots 1.2s steps(3, end) infinite;
}



@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
img{
  max-width: 100%;
}
.content-header{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
ul.rounded-tabs {
  list-style-type: none;
  border-top:0px solid #333;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  top: -7px;
  position: relative;
}

ul.rounded-tabs li {
  display: inline-block;
  background: #ccc;
  margin: 0 40px;
  padding: 0.625rem 2rem;
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}

ul.rounded-tabs li:after,
ul.rounded-tabs li:before {
  content: '';
  height: 20px;
  width: 20px;
  background: #ccc;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 1;
}

ul.rounded-tabs li:before {
  right: auto;
  left: -20px;
}

ul.rounded-tabs li span:after,
ul.rounded-tabs li span:before {
  content: '';
  height: 40px;
  width: 40px;
  background: #eee;
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 2;
  border-radius: 50%;
}

ul.rounded-tabs li span:before {
  right: auto;
  left: -40px;
}
.layout-fixed .wrapper .sidebar {
  height: calc(100vh - (12rem + 1px)) !important;
}
.main-header{
  border-bottom: 0 !important;
}
.required{
  color:red;
}

.shadow-danger{
  box-shadow: 0px 0px 1px #dc3545;
}

.flex-1{
  flex: 1;
}

.title-page{
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.error-message {
  color: red;
  font-size: 12px;
}
.gap-15{
  gap: 15px;
}
.tab-rapport.nav-tabs .nav-link{
  font-size: 30px !important;
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
}
.align-right{
  text-align: right;
}
.headerRapport{
  background: rgba(38, 50, 77, 1);
  color: white;
  padding: 5px 0;
}
.register-page:before{
 /* content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); */
}
.align-items-baseline{
  align-items: baseline
}
.logo-login{
  border-radius: 8px;
}
.sidebar-dark-primary {
  background-color: #2c2e3e !important;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #4471a78f !important;
  border-radius: 6px;
}
.brand-text{
	font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  white-space: break-spaces;
}
.sidebar-collapse .logo-abreviation{
	display:block !important;
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.sidebar-collapse .brand-text {
	display:none !important;
}
.nowrap{
    white-space: nowrap;
}
.total-input{
  width: 150px !important;
}
.bg-danger-light{
  background: #dc35454a;
}
.modal-title u{
  font-weight: 900;
}
.bg-success-light{
  background: #28a7453d;
}
.logo_nav{
  border-radius: 5%;
  max-width: 70%;
}
/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.containerCheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #4D81BB;
}

/* Create the checkmark/indicator (hidden when not checked) */
.containerCheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.orientation{
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
.tr-disabled {
  pointer-events: none;
  opacity: 0.6; /* Optionnel : pour indiquer visuellement le désactivation */
}
.border-danger-date input{
  border-color: #dc3545 !important;
}
.actionType1{
  padding:3px;
  font-size: 30px;
  background: none;
  border: 0;
  position: relative;
}
.navbar-white {
  background: linear-gradient(120deg, #fff 50%, #2c2e3e 50%) !important;
}
.main-header{
  box-shadow: 1px 2px 8px #aeaaaa;
}
.badgeLabel{
  height: auto;
  padding: 0.5em 0.9em;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: 0.25rem;
  background: linear-gradient(310deg, rgb(98, 117, 148), rgb(168, 184, 216))
  position: relative;
  transform: none;
  color:#fff !important;
}
.badgeSuccess{
  background: linear-gradient(310deg, rgb(45, 206, 137), rgb(45, 206, 204));
}
.badgeLabel.badgeBlue{
  color: #fff !important;
  background: linear-gradient(310deg, rgb(28, 133, 185), rgb(77, 129, 187));
}
.badgeLabel.badgeOrange{
  color: #fff !important;
  background:linear-gradient(310deg, rgb(206, 181, 45), rgb(187, 168, 68));
}

.contentPerson{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px 8px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
}
.avatarPerson {
    margin-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.nameFormat{
  display: flex;
    flex-direction: column;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.avatarPerson {
    margin-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.namePerson {
    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(52, 71, 103);
    font-weight: 600;
}
.contactPerson{
    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(131, 146, 171);
}
body a {
  color: #4d81bb;
}
body .text-info {
  color: #cec47f !important;
}
body .text-primary {
  color: #4d81bb !important;
}
body .btn-primary {
  background-color: #4d81bb;
  border-color: #4d81bb;
}
body .badge{
  font-weight: bold !important;
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  font-size: 1.3rem;
}
body .btn-info:hover {
  background-color: #bda711;
  border-color: #cec47f;
}
body .btn-info{
  border-color: #cec47f;
}
body .badge-primary {
  background-color: #4d81bb;
}
body .badge-info, body .btn-info {
  background-color: #cec47f;
}
body .border-info {
  border-color: #cec47f !important;
}
body .hover-info:hover{
  background: #cec47f !important;
  color:#fff;
}
body .border-primary {
  border-color: #4d81bb !important;
}
body .page-item.active .page-link {
  background-color: #4d81bb;
  border-color: #4d81bb;
}
body .page-link{
  border-radius: 5px !important;
  background-color: rgba(0,0,0,.05);
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  padding: 3px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4d81bb;
}
body .content-wrapper {
  background: #eee;
  padding: 1.75rem 1.312rem;
  padding-bottom: 60px;
  margin-top: 45px; /*Header top is fixed*/
}
.white-space{
  white-space: nowrap;
}
.permissionUl{
  list-style: none;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
}
.permissionUl li{
  cursor: pointer;
  margin-bottom: 3px;
}
.btnAdd{
  background: #4d81bb;
  border: 2px solid #4d81bb;
  color: white;
  border-radius: 5px;
}
.titreH2{
  font-size: 25px;
  font-weight: bold;
  color: #4d81bb;
  margin-bottom: 10px
}
.titreH3{
  font-size: 20px;
  font-weight: bold;
  color: #cec47f;
}
.totalStatistic{
  font-size: 45px;
  line-height: 1;
  color: #958e70;
  font-weight: bold;
}
.boxState{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxState i{
  font-size: 60px;
  color: #c4c4c485;
}
.iconState{
  width: 25%;
  text-align: center;
}
.boxes{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.box{
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(214 219 226 / 50%), 0 1px 2px rgb(214 219 226 / 50%);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translateZ(0) scale(1.0);
  height: auto;
}
.box1{
  grid-column: span 2;
  grid-row: span 3;
}
.box5{
  grid-column: span 2;
  grid-row: span 2;
}
.box h2{
  font-size: 18px;
  font-weight: bold;
  color: #4d81bb;
}

.lastOperation,
.lastOperation label{
  font-size: 13px !important;
}

.lastOperation thead th,
.lastOperation tbody td{
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-footer{
  /*position: fixed;*/
  bottom: 0;
  width: calc(100% - 250px);
  border-left: 0px solid #3490dc;
  padding: 5px 15px;

}
.progress .progress-bar{
  border-color: #cfc293 !important;
}
.progress .progress-value{
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  font-weight: bold;
}
.page-item{
  margin: 0 2px;
}
table.table-striped td, .table.table-striped  th {
  border-top: 0 !important;
}
.brand-link{
    /*background: url('/assets/images/bg-logo-inverse.png') 102% 100% no-repeat;
    background-size: 75px auto;*/
}
.border-2{
  border-width: 2px !important;
}

.menu-group{
	white-space: nowrap;
	position: relative;
	align-items: center;
	display: flex;
	height: 48px;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 0 16px 0 16px;
  margin-top: 10px;
}
.pointer-events-none{
  pointer-events: none
}
.right-0{
  right: 0;
}
.max-height-200{
  max-height: 250px;
  overflow: auto;
}
.title-wrapper{
	width: 100%;
	position: absolute;
	left: 0;
	border-bottom: 1px solid #4f5962;
	line-height: 0.1em;
}
.title-wrapper span {
  background: #d1c48ea3;
  padding: 2px 10px;
  font-size: 1.3rem;
  margin-left: 16px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
}
.title-wrapper span.active {
  background: #4471a78f;
}
.modal-title{
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  font-size: 30px;
}
.modal-title span{
	font-weight: 700;
}
.loader-line {
    width: 100%;
    height: 3px;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
    background-color: #ddd;
    margin: 0 auto;
    z-index: 10;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: coral;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}
.max-country .vue-country-select{
	width: 100%;
}
.cursor-pointer{
	cursor: pointer;
}
.modalinfo span {
  font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
  font-size: 26px;
  font-weight: 300;
}
.titleform{
	font-family: 'Sofia Sans Extra Condensed', sans-serif !important;
	font-size: 25px;
    font-weight: 900 !important;
    line-height: 20px;
}
.w-49{
	width: 49%;
}
.carousel-control-prev-icon-osba,
.carousel-control-next-icon-osba{
    font-size: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #9ba2af;
    border-radius: 50%;
    color: white;
    display: block;
    line-height: 90px;
    opacity: 0.8;
    top: 50%;
    text-decoration: none;
    width: 90px;
    height: 90px;
    content: "\f430";
    z-index: 1;
}
.total-right-corner{
    position: absolute;
    top: -10px !important;
    right: -10px !important;
    font-size: 16px !important;
}

.form-control{
  height: calc(1.8rem + 0px) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
textarea.form-control{
  height: calc(5rem + 0px) !important;
}
.vue-country-select {
  height: 1.7rem !important;
}
.form-group {
  margin-bottom: 0.5rem !important;
}
.form-group  label{
  margin-bottom: 0.2rem !important;
}
.fullscreenModal .modal-dialog {
    width: calc(100% - 50px);
    max-width: none;
    height: 100% !important;
    max-height: calc(100% - 50px);
    margin: 0;
    left: 25px;
    top: 25px;
    
}
.fullscreenModal .close span {
  font-size: 35px !important;
  text-shadow: 0 1px 0 #000;
  color:  red;
}
.sidebar-collapse .fullscreenModal .modal-dialog {
    width: calc(100% - 74px);
    left: 74px;
}
.modal-header{
    padding-top: 0.3em;
    padding-bottom: 0.3em
}
.fullscreenModal .modal-header{
    padding-top: 0.6em;
    padding-bottom: 0.6em
}

.fullscreenModal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.fullscreenModal embed{
    height: 100%;
}

.picto-item {
  position: relative;  /*les .picto-item deviennent référents*/
  cursor: help;
  border-radius: 0%;
  min-width: 150px;
}



/* on génère un élément :after lors du survol et du focus :*/

.picto-item:after,
.picto-item:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #413219;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
}

/* on génère un second élément en :before pour la flèche */

.label-arrow [aria-label]:before,
.label-arrow [aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #413219;
}

/* pas de contour durant le :focus */
.label-arrow [aria-label]:focus {
  outline: none;
}


.pictos {
  text-align: center;
}

.picto-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 .2em;
  color: #413219;
  background: #e1d3bd;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
}
.linePaiement button{
  width: 42px;
}
/* Progress */

.progress {
  width: 80px;
  height: 80px !important;
  float: left; 
  line-height: 80px;
  background: transparent !important;
  margin: 8px;
  box-shadow: none;
  position: relative;
  border-radius: 100%; 
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #606060;
    font-size: 18px;
    color: #fff;
    line-height: 75px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar {
  border-color: #049dff;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #fdba04;
}
.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}
.progress.yellow .progress-left .progress-bar {
  animation: none;
}
.width_1_3{
  width: 33%;
}
.viewRapport a{
  width: 32%;
  padding: 50px 0;
  text-align: center;
  background: #dedede;
  font-size: 30px;
  font-weight: bold;
  color:#fff;
}
.viewRapport a:hover{
  color:#fff;
  opacity: .8;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}


